body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e086d2, #d576ca);
    color: white;
    text-align: center;
}

/* Title */
.title {
    margin-top: 40px;
    font-size: 2.5rem;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #160202;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Card */
.card {
    background: #861265ab;
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Hover effect */
.card:hover {
    transform: translateY(-10px) scale(1.05);
    background: #b941d7;
}

/* Text inside */
.card h2 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #bbb;
}